.card_column{
  padding: 1.5rem;
}

.details_btn{
  border-radius: 1.5rem;
}

.hospital_points_section{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .5fr .5fr; 
}

.row{
  color: #077563;
}