.Form{
   font-size: 2rem;
   /* border: 1px solid #077563; */
   display: flex;
   align-content: center;
   justify-content: center;
   width:50rem;
   position: relative;
}

.Icon{
   
    position: absolute;
    margin-right: 0;
    z-index: 10;
    right: 6rem;
    bottom:1.8rem ;
    font-size: 2rem;
    color: #077563;
   
}

.Form input {
    width: 40rem;
    font-size: 1.5rem;
    position: absolute;
    left: 5rem;
    bottom: 1.2rem;
    border-radius: 50px;
}

.Form input:hover {
    width: 40rem;
    font-size: 1.5rem;
    position: absolute;
    left: 5rem;
    bottom: 1.2rem
}


.Form input:focus {
    width: 40rem;
    font-size: 1.5rem;
    position: absolute;
    left: 5rem;
    bottom: 1.2rem;
    border: 1px solid #077563; 
    
}
.btnLink :link{
    color: #fff;
}