.Header {
    height : 3rem;
    background-color: #077563;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    color:#fff;
    /* position: fixed; */
}
.NavLink{
    color : #fff; 
    
}

.NavLink:hover{
    color : #fff;

}