.Jumbo  {
   background-image: url('https://cdn.dribbble.com/users/976984/screenshots/3727819/hospital.gif');
   background-repeat: no-repeat;
   height: 100vh;
   background-size: cover; 
}

.Auth{
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.btns > button{
  margin-right: 1rem;
  width: 12rem;
  border-radius: 100px;
  text-transform: uppercase;
  padding : 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #077563;
}

.btns > Button:hover{
 background-color: #077563;
 border: none;
}

.btnLink{
  color: #fff;
}


.link {
  color: #fff;
}

.link:hover{
  color: #fff;
}

.paragraph{
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: #077563;
}